/* css-tensei: main.css
 * SPDX-License-Identifier: NCSA */

:root {
  /* this font stack respects user choice and uses the fonts set in the web
   * browser settings
   *
   * if a "sensible" default is preferable, the following font stack values may
   * be used
   * --sans-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Inter, sans-serif;
   * --mono-font: Menlo, "Cascadia Mono", Consolas, "SF Mono", monospace;
   * --serif-font: Baskerville, "Cambria", "Source Serif Pro", serif; */
  --sans-font: sans-serif;
  --mono-font: monospace, monospace;
  --serif-font: serif;

  /* increase body text line-height to account for increased padding in some
   * inline elements such as <kbd>
   * reduce line-height of headings to account for their increased font size */
  --height-text: 1.6;
  --height-head: 1.2;

  /* start increasing the base font size of 16px (1rem) from a 390px width
   * viewport to a maximum of 18px (1.125rem) ending at 1024px width viewport
   *
   * this has been done to account for the difference in viewing distance
   * between a touch device and a monitor display. although 18px on touch
   * devices is fine, we can get a more characters and words on a single line
   * on touch devices if we scale back to 16px, which is still an acceptable
   * font size.
   *
   * using the clamp function saves us from defining multiple media query
   * breakpoints */
  --base-font-size: clamp(1rem, calc(0.923rem + 0.315vw), 1.125rem);

  /* redefine heading font sizes to make <h5> useful
   * avoid using <h6> unless it's suitable for a specific task */
  --h1-size: 2.074rem;
  --h2-size: 1.728rem;
  --h3-size: 1.44rem;
  --h4-size: 1.2rem;
  --h5-size: 1rem;
  --h6-size: 0.833rem;

  /* reduce the browser default inline margin of elements such as <dd>, <ol>,
   * and <ul> on mobile to make room for more characters on a line and
   * gradually increase the margin to the browser default on desktop sized
   * viewports */
  --first-level-space: clamp(1.5rem, calc(1.16rem + 1.7vw), 2.25rem);
  --second-level-space: clamp(1rem, calc(0.69rem + 1.56vw), 1.69rem);

  /* the colors have been carefully chosen to try and avoid issues like halation
   * in dark mode, account for color blindness, and phenomenon like the
   * Helmholtz–Kohlrausch effect which APCA doesn't seem to account for as on
   * June 2022. this can be observed using the Lc values of 85 for #dfdfb0 and
   * 85.6 for #f1e00a on the background color #100f10. in addition, subtle
   * layout shift issues due to sub-pixel anti-aliasing or monitor LED
   * arrangement has also been avoided by not making significant jumps in hue
   * when clicking on links. the colors are also perceptually uniform in the
   * CIELAB color space.
   *
   * the default light and dark theme tries to comply with the preferred Lc
   * value of 90 for body text, Lc 75 for bold text, and Lc 30 for borders */
  --bg-main: #f8f8f8; /* white */
  --fg-text: #282828; /* black, Lc 97.4 */
  --fg-head: #3f3f3f; /* black, Lc 90.3, reduce contrast of headings to prevent halation */
  --bg-mark: #fff29a; /* yellow */
  --fg-mark: #282828; /* black, Lc 92.7 */
  --fg-border: #aaa; /* grey, Lc 41.6 */
  --fg-link: #0000e6; /* blue, Lc 85, lesser contrast but higher luminosity due to HK effect */
  --fg-link-underline: #0000c080; /* reduce opacity for underlines to improve readability */
  --fg-link-visited: #003397; /* dark blue, Lc 90.1, higher contrast but less luminous than fg-link */
  --fg-link-visited-underline: #00339780; /* reduce opacity for underlines to improve readability */
  --fg-ins: #114a1b; /* green, Lc 89.6 */
  --fg-del: #7d0800; /* red, Lc 89.3 */
}

@media (prefers-color-scheme: light) and (prefers-contrast: less) {
  :root {
    --bg-main: #fbf3db; /* light yellow */
    --fg-text: #445559; /* grey, Lc 80 */
    --fg-head: #4e6166; /* grey, Lc 75.2 */
    --bg-mark: #f9fb71; /* yellow */
    --fg-mark: #445559; /* grey, Lc 80.6 */
    --fg-border: #94b5bf; /* light grey, Lc 35.9 */
    --fg-link: #005dab; /* blue, Lc 75.1 */
    --fg-link-underline: #005dab80;
    --fg-link-visited: #004578; /* dark blue, Lc 85.3 */
    --fg-link-visited-underline: #00457880;
    --fg-ins: #366900; /* green, Lc 75.3 */
    --fg-del: #ad2022; /* red, Lc 75.5 */
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-main: #1c1d1d; /* black */
    --fg-text: #e6e6e6; /* white, Lc -90 */
    --fg-head: #d6d6d6; /* grey, Lc -80.1, reduce contrast of headings to prevent halation */
    --bg-mark: #7d3300; /* dark yellow */
    --fg-mark: #f9faf1; /* white, Lc -90.4 */
    --fg-border: #7a7a7a; /* grey, Lc -30.3, deliberately reduce contrast in dark mode */
    --fg-link: #f3e6ac; /* light yellow, Lc -89.7 */
    --fg-link-underline: #f3e6ac80;
    --fg-link-visited: #f1cb5a; /* dark yellow, Lc -75.8 */
    --fg-link-visited-underline: #f1cb5a80;
    --fg-ins: #c9ecff; /* blue, Lc -90.4 */
    --fg-del: #ffd0c8; /* light red, Lc -83 */
  }

  @media (prefers-contrast: less) {
    :root {
      --bg-main: #333;
      --fg-text: #ddd; /* Lc -80.2 */
      --fg-head: #d5d5d5; /* Lc -75.2 */
      --bg-mark: #80421a; /* dark yellow */
      --fg-mark: #eee; /* Lc -80.1 */
      --fg-border: #828285; /* Lc -30 */
      --fg-link: #f6d8b7; /* Lc -80 */
      --fg-link-underline: #f6d8b780;
      --fg-link-visited: #d1c39f; /* Lc -65 */
      --fg-link-visited-underline: #d1c39f80;
      --fg-ins: #b5e4ff; /* Lc -80.4 */
      --fg-del: #ffc8c2; /* Lc -75.2 */
    }
  }
}

/* RULES THAT ARE SPECIFIC TO SCREEN ONLY */
@media screen {
  /* switch to border-box instead of content-box to make box size, margins, and
   * padding more intuitive */
  html {
    box-sizing: border-box;
    font: var(--base-font-size) / var(--height-text) var(--sans-font);
    overflow-y: scroll;
  }

  /* if scrollbar-gutter is supported, use it instead of adding a permanent
   * visible scrollbar */
  @supports (scrollbar-gutter: stable both-edges) {
    html {
      overflow-y: auto;
      scrollbar-gutter: stable both-edges;
    }
  }

  /* all elements should inherit the box-sizing property so that child elements
   * can easily inherit the box-sizing value of their parents if they differ
   * from the box-sizing set in html {} */
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  /* use `overflow-wrap: auto` instead of `hyphens: auto` on larger screens
   * which don't need automatic hyphenation
   * add a padding of 24px on either inline side to reserve space at the screen
   * edge; we've used pixels to avoid scaling the padding and reducing available
   * content width area */
  body {
    background-color: var(--bg-main);
    color: var(--fg-text);
    overflow-wrap: break-word;
    padding: 0 24px;
  }

  /* handheld touch devices with smaller screens should have automatic
   * hyphenation to justify paragraphs */
  @media (max-width: 48rem) {
    body {
      /* stylelint-disable-next-line property-no-vendor-prefix */
      -webkit-hyphens: auto;
      hyphens: auto;
    }
  }

  /* reduce inline padding on touch devices with a relatively small viewport to
   * make room for content */
  @media (max-width: 20rem) {
    body {
      padding: 0 8px;
    }
  }

  /* change color of headings to reduce halation possibilities */
  h1,
  h2,
  h3,
  h4 {
    color: var(--fg-head);
  }
}
